/*
orange #e54413
black #231f20
lighter gray  #F8F8F8
darker gray gainsboro
*/

/* Page Setup */
body {
    margin: 0px;
    padding: 0px;
    font-family: Raleway, 'Helvetica Neue', 'Calibri Light', sans-serif;
}

.under-heading {
    width: 5vw;
    background-color: #231f20;
    height: 5px;
    margin-top: 0px;
}

.under-heading-white {
    width: 5vw;
    background-color: white;
    height: 5px;
    margin-top: 0px;
}


/* Navbar */
#nav-logo {
    transition: 400ms transform ease-in-out;
    width: 50px;
    height: 50px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: gainsboro;
}

.navbar-default {
    background-color: #231f20;
    border-color: transparent;
    font-size: 150%;
    color: gainsboro;
}


/* Navbar Animations */
.nav-logo-trans {
    transform: translateX(-100px);
}

.nav-bar-shadow {
  box-shadow: 0px 1px 10px black;
}


/* Top Section - Original View */
#top {
    padding: 10%;
    padding-top: 15%;
    height: 100vh;
    text-align: center;
    background-color: #231f20;
    color: gainsboro;
    background-image: url();
}

#top h1 {
    font-size: 400%;
    color: lightgrey;
}

#top-features-btn {
    background-color: #231f20;
    color: white;
    border: 1px solid lightgrey;
    padding: 2vw 4vw 2vw 4vw;
    margin: 1vw;
}

#top-beta-btn {
    background-color: #e54413;
    color: white;
    padding: 2vw 4vw 2vw 4vw;
    margin: 1vw;
}


/* Middle */
#middle {
    background-color: #F8F8F8;
    text-align: center;
    color: #231f20;
}

.row {
    margin: 5% 5% 5% 5%;
}


/* Product */
#product {
    text-align: center;
}

.product-feature-item {
    text-align: left;
    list-style-type: circle;
    font-size: 3.5vh;
    margin-bottom: 1vh;
}


/* Testimonials */
#testimonials {
    background-color: #231f20;
    color: white;
    padding: 10px;
}

#testimonials-body {
    width: 80vw;
    margin: 5vh auto;
}

#testimonial-video {
    width: 64vw;
    height: 36vw;
}

#testimonials-count {
    list-style: none;
    text-indent: 0px;
    padding: 0px;
}

.testimonials-count-item {
    display: inline;
    color: gray;
    margin: 0px 5px 0px 5px;
}


/* About */
#about {
  padding-bottom: 30px;
}

.about-item-container {
    color: white;
    padding: 5px;
}

.about-item-body {
    background-color: #231f20;
    padding: 10px;
}

.about-item-content {
    text-align: justify;
    color: #e54413;
}


/* Footer */
#footer {
    background-color: gainsboro;
    height: 30%;
    text-align: center;
    color: slategray;
    padding-bottom: 1vh;
}

#footer a,
#footer a:hover {
    color: slategrey;
    text-decoration: none;
}

.footer-item-container {
    padding: 10px;
    height: 100px;
    text-align: left;
}

.footer-item-body {
    margin-top: 0px;
}

.mc-field-group {
    margin: 0px;
    padding: 0px;
}

.small-logo {
    width: 30px;
    height: 30px;
}

.footer-social-media {
    padding: 20px 15px 15px 15px;
    background-color: slategray;
}

.footer-social-media i {
    color: aliceblue;
}
