body {
    margin: 0px;
    padding: 0px;
}

#top {
    padding: 10%;
    padding-top: 15%;
    height: 100vh;
    text-align: center;
    background-color: #231f20;
    color: gainsboro;
    background-image: url();
}

.nav-reg {
    transition: 400ms transform ease-in-out;
    transform: translateX(-50px);
}

.nav-img {
    width: 50px;
    height: 50px;
}

#nav-logo {
    transition: 400ms transform ease-in-out;
}

.nav-logo {
    transform: translateX(-100px);
}

.feature-left-trans {
    transform: translateX(-100px);
}

.feature-right-trans {
    transform: translateX(100px);
}

.top-bar {
  box-shadow: 0px 1px 10px black;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: gainsboro;
}

.navbar-default {
    background-color: #231f20;
    border-color: transparent;
    font-size: 150%;
    color: gainsboro;
}

#top h1 {
    font-size: 400%;
    color: lightgrey;
}

#features-btn {
    background-color: #231f20;
    color: white;
    border: 1px solid lightgrey;
    padding: 30px 60px 30px 60px;
    margin: 20px;
}

#beta-btn {
    background-color: #e54413;
    color: white;
    padding: 30px 60px 30px 60px;
    margin: 20px;
}

.feature-img {

}

.feature-left {
    transition: 1000ms transform ease-in-out;
}

.feature-right {

}

#splash-btns {
    margin: 5%;
}

#splash-btns a,
#splash-btns a:hover {
    text-decoration: none;
}

#bar {
    background-color: gainsboro;
    height: 5%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#middle {
    background-color: #F8F8F8;
    text-align: center;
    color: #231f20;
    padding-top: 5%;
}

#team {
    padding: 5%;
}

.row {
    margin: 5% 5% 5% 5%;
}

.row div {
    margin-bottom: 30px;
}

#features {
    padding: px;
}

.small-img {
    max-width: 10%;
    max-height: 5%;
}

#footer {
    background-color: gainsboro;
    height: 30%;
    text-align: center;
    color: slategray;
    padding-top: 5%;
    padding-bottom: 5%;
    padding: 0px;
}

#footer a,
#footer a:hover {
    color: slategrey;
    text-decoration: none;
}

hr {
    border-color: #231f20;
}

.video {
    position: fixed;
    top: 50%;
    bottom: 50%;
    z-index: 2;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;


}

.footer-item-container {
    padding: 10px;
    height: 100px;
    text-align: left;
}

.footer-item-body {
}

.footer-item-body {
    margin-top: 0px;
}

.mc-field-group {
    margin: 0px;
    padding: 0px;
}

.small-logo {
    width: 30px;
    height: 30px;
}

.footer-social-media {
    padding: 20px 15px 15px 15px;
    background-color: slategray;
}

.footer-social-media i {
    color: aliceblue;
}






/*
orange #e54413
black #231f20
lighter gray  #F8F8F8
darker gray gainsboro
*/
